
<center>
  <table >
    <div class="login">Log in</div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <tr > 
      <%= f.label :email, class: "label" %> <br />
    </tr>
    <tr>
      <%= f.email_field :email, autofocus: true , class: "taxi" %><br>
    </tr>
    <tr >
      <%= f.label :password, class: "label"%><br />
    </tr>
    <tr class="password"> 
      <%= f.password_field :password, autocomplete: "off", class: "taxi"%><br><br>
    </tr>
    <% if devise_mapping.rememberable? -%>
      <tr>
        <%= f.check_box :remember_me, class: "checkbox" %> <%= f.label :remember_me, class: "rem" %>
      </tr>
    <% end -%>
    <tr>
      <br><%= f.submit "Log in", class: 'btn btn-primary' %>
    </tr>
 
<% end %><br>

<%= render "users/shared/links" %>
  </table>
  </center>
 


 

  